.h-auto {
  height: auto;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.w-auto {
  width: auto;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.d-block{
  display: block;
}

.d-inline-block{
  display: inline-block;
}

.d-none {
  display: none;
}

.d-flex{
  display: flex;
}

.p-fixed{
  position: fixed;
}

.overflow-y-auto{
  overflow-y: auto;
}

.f-left{
  float: left;
}

.m-0{
  margin: 0;
}

.p-0{
  padding: 0;
}

.m-auto{
  margin: auto;
}

.align-items-center{
  align-items: center;
}

.justify-content-center{
  justify-content: center;
}

.p-relative{
  position: relative;
}

.p-absolute{
  position: absolute;
}

.cursor-pointer{
  cursor: pointer;
}
