.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-decoration-none{
  text-decoration: none;
}

.text-black{
  color: black;
}
